---
---

@import "{{ site.theme }}";

/* Wrapper (main container, original size was 960px) */
.wrapper {
  width:1210px;
}

/* Main page container, original size was 650px) */
section {
  width:910px;
  float:right;
  padding-bottom:50px;
}